Source: ruby-instantiator
Section: ruby
Priority: optional
Maintainer: Debian Ruby Team <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Cédric Boutillier <cedric.boutillier@gmail.com>
Build-Depends: debhelper-compat (= 13),
               gem2deb,
               ruby-blankslate
Standards-Version: 4.6.2
Vcs-Git: https://salsa.debian.org/ruby-team/ruby-instantiator.git
Vcs-Browser: https://salsa.debian.org/ruby-team/ruby-instantiator
Homepage: https://github.com/floehopper/instantiator
XS-Ruby-Versions: all
Testsuite: autopkgtest-pkg-ruby

Package: ruby-instantiator
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby-blankslate,
         ${ruby:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: Ruby library to instantiate an arbitrary class
 This Ruby library permits the instantiation of an arbitrary class without
 knowing anything about the constructor.
